pypiwin32
Babel
mock
rst2pdf
six
Sphinx
pywinauto
bs4
requests
dill
click
flask
Pillow
pytesseract
pyperclip
rqopen-client
easyutils
tushare
wheel
pandas
numpy
scipy
matplotlib
tensorflow
keras
scikit-learn
autokeras
ipython
xlrd
seaborn
xgboost
lightgbm
flask
flask-httpauth
