pypiwin32
Babel
mock
rst2pdf
six
Sphinx
bs4
requests
dill
click
flask
Pillow
pytesseract
pyperclip
rqopen-client
easyutils
tushare
wheel
pandas
numpy
scipy
matplotlib
graphviz
tensorflow
tensorflow-gpu
keras
scikit-learn
ipython
xlrd
seaborn
xgboost
lightgbm
flask
flask-httpauth
featuretools
sqlalchemy
pymysql
requests
tushare
openpyxl
pywinauto==0.6.4